@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import 'margin_padding_helper_mixin';
@import 'spacing';
@import 'helper';
@import 'colors';
@import 'fonts';
@import 'reset';
.app-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100% !important;
}

.page-container {
  margin: auto;
  width: 80%;
}

.main-container {
  background-color: $back-main-color;
  display: flex;
  // flex-direction: row;
}
.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
}

.login_width {
  width: calc(100vw - (331px * 2));
}

.logout_width {
  width: calc(100vw - 331px);
}
