@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import '../margin_padding_helper_mixin';
@import '../spacing';
@import '../helper';
@import '../colors';
@import '../fonts';
@import '../reset';

.header_bar {
  text-align: right;
  padding-top: 40px;
  padding-bottom: 48px;
}
